{%  load static %}

<div id="footer">
  <div class="container text-center">
    <div class="social">
      <ul>
        <li><a href="https://www.facebook.com/shriambaenterprises"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://api.whatsapp.com/send?phone=919885773647&text=Hi%2C%20I%20am%20looking%20for%20Interior%2FHome%2FOffice%20Furniture%20can%20you%20please%20help%20me%20out."><i class="fa fa-whatsapp"></i></a></li>
        <li><a href="mailto:shriambaenterprises3647@gmail.com?"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
    <div>
      <p> Copyright © 2020 Designed by Gautham</p>
    </div>
  </div>
</div>